@charset "UTF-8";

.container {
	width: 100%;
	margin-left: 250px;
	margin-top: 55px;
}

.info-flex {
	display: flex;
	justify-content: center;
}

.board-info-box-layout {
	border: 0.0625rem solid #f2f2f2;
    box-shadow: 11px 13px 11px -14px grey;
    background: #fff;
}

.info-title-box-flex {
	display: flex;
    position: fixed;
	justify-content: flex-start;
}

.info-title-box {
	width: 100%;
	height: 55px;
	border-radius: 3px;
	background: #fff;
	box-shadow: 11px 13px 11px -14px grey;
}

.info-table {
	margin: 0 auto;
	padding: 10px 30px;
}

.board-info-title-box {
	padding: 20px 27px 15px;
}

.board-info-title-box {
	font-size: 15px;
	font-weight: bold;
}

.select-name {
	padding-top : 20px;
	padding-left: 5px;
}

.container-margin {
	margin-top: 40px;
}

.board-info-box-layout {
	margin-top: 30px;	
	min-width: 450px;
	max-width: 500px;
}

.prev-button-layout {
	position: relative;
}

.prev-icon {
	position: absolute;
	width: 20px;	
    top: 3px;	
}

.prev-title {
	font-weight: 500;
	padding-left: 28px;	
}

hr {
	height: 1px;
	background: #f2f1f1;
	border: 0;
}

.span-bold {
	font-weight: bold;
}

.info-member {
	margin-bottom: 10px;	
}

.member-img-box {
	margin-top: 20px;
}

.member-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-image: url('/image/logo/normal_profile.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
}

.member-nickname-box {
	margin-top : 10px;
	text-align: center;	
}

.member-nickname-box span {
	font-size: 14px;
}

.member-info-box {
	margin : 50px;
}

.member-info-tag-box {
	margin-top : 10px;
}

.info-tag {
	font-size: 13px;
	color: #c1c1c1;
}

div.info-name {
	margin-top: 0px;
}

.info {
	margin-top : 10px;
}

.member-info {
	margin : 20px;	
}

input {
	font-family: 'GmarketSansMedium';
	outline: none;
	border: none;
	width: 50%;
	border-bottom: 1px solid #c1c1c1;
	height: 20px;
	font-size: 15px;
}

button {
	font-family: 'GmarketSansMedium';
	width: 100px;
	height: 30px;
	background-color: #4F6DF5;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	border: none; 
}

.button-box {
	text-align: right;
	margin-top: 10px;
}
