<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 회원 정보 수정</title>
    <link rel="stylesheet" href="/css/admin/sidemenu.css">
    <link rel="stylesheet" href="/css/admin/admin_member_modify.css">
    <link rel="icon" href="/image/logo/favicon.png">
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="/image/logo/logo.png">
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>회원정보 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
            <div th:replace="~{admin/side_bar :: sidebar}"></div>

            <div class="container">
				<div class="container-margin">
					<!-- 헤더 -->
					<div style="margin: 0 auto;width: 70%;">
						<div class="prev-button-layout">
							<div>
								<a th:href="@{/admin/member/detail/{id}(id=${memberDTO.id})}">
									<img src="/image/admin/prev_icon.png" class="prev-icon">
									<span class="prev-title">회원정보로 돌아가기</span>
								</a>
							</div>
						</div>
						<!-- 내용 섹션 -->
						<div class="info-flex">
							<section class="board-info-box-layout" style="width: 100%;">
								<div class="board-info-box">
									<div class="board-info-title-box">
										<span>회원 정보</span>
									</div>
								</div>
								<hr>
								<div class="board-info-box">
									<div class="member-img-box">
									<div class="member-img"></div>
									</div>
									<div class="member-info-box">
										<div class="member-info-tag-box">
											<span class="info-tag">이름</span>
											<!-- 이름 -->
											<div class="info info-name">
												<span th:text="${memberDTO.memberName}"></span>
											</div>
										</div>
										<form th:action="@{/admin/member/modify/{id}(id=${memberDTO.id})}" method="post">
											<div class="member-info-tag-box">
												<span class="info-tag">이메일</span>
												<div class="info">
													<input type="text" class="member-email" name="memberEmail" th:value="${memberDTO.memberEmail}">
												</div>
											</div>
											<div class="member-info-tag-box">
												<span class="info-tag">닉네임</span>
												<div class="info">
													<input type="text" class="member-nickname" name="memberNickname" th:value="${memberDTO.memberNickname}">
												</div>
											</div>
											<div class="member-info-tag-box">
												<span class="info-tag">핸드폰 번호</span>
												<div class="info">
													<input type="text" class="member-phone" name="memberPhoneNumber" th:value="${memberDTO.memberPhoneNumber}">
												</div>
											</div>
											<div class="member-info-tag-box">
												<span class="info-tag">유저 상태</span>
												<div class="info">
													<input type="text" class="member-status" name="memberStatus" th:value="${memberDTO.memberStatus}">
												</div>
											</div>
											<div class="button-box">
												<button type="submit" id="modify-button">변경</button>
											</div>
										</form>

									</div>	
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/modify-member.js"></script>
<script src="/js/admin/sidemenu.js"></script>
</html>