<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/admin_common.css">
    <link rel="stylesheet" href="/css/admin/sidemenu.css">
    <link rel="stylesheet" href="/css/admin/admin_board_proposal_modify.css">
    <link rel="stylesheet" href="/css/admin/admin_board_challenge_detail.css">
    <link rel="icon" href="/image/logo/favicon.png">
    <title>애니멀 팜 시즌 2 관리자 페이지 - 거래 기록 상세보기</title>
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="/image/logo/logo.png">
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>거래 기록 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
            <div th:replace="~{admin/side_bar :: sidebar}"></div>

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="prev-button-layout">
                        <div>
                            <a th:href="@{/admin/trade/list}">
                                <img src="/image/admin/prev_icon.png" class="prev-icon">
                                <span class="prev-title">리스트로 돌아가기</span>
                            </a>
                        </div>
                    </div>
                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">
                        <div class="board-info-box">
                            <div class="board-info-title-box" style="position: relative">
                                <div><span class="span-bold">거래 날짜:</span> 2023.08.14 18:57</div>
                            </div>
                            <hr>
                            <!-- -->
                            <div class="info-table">
                                <div class="player_info">
                                    <div class="selection" name="personal">
                                        <img src="https://mc-heads.net/avatar/005cd92d-cf8a-4267-bfc5-50d3f039d50f/100/nohelm.png" class="player-head" alt="LE_CONTRAIL">
                                        <span class="player-name">LE_CONTRAIL</span>
                                    </div>
                                </div>
                                <div class="player_info" name="uuid">
                                    <span class="span-bold">UUID :</span>
                                    <span>005cd92d-cf8a-4267-bfc5-50d3f039d50f</span>
                                </div>
                                <div class="player_info">
                                    <span class="span-bold">거래 금액: </span>
                                    <span>600골드</span>
                                </div>
                                <div class="player_info" style="margin-top: 20px">
                                    <div class="selection" name="personal">거래 아이템</div>
                                </div>
                                <div class="trade_content">
                                    <div class="item-info">
                                        <div class="item-title">
                                            <img class="item" src="/image/item/feather.png" alt="item">
                                            <span class="span-bold item-name">깃털 X 31</span>
                                        </div>
                                        <div class="item-lore">
                                            <span class="lore">lore 1</span>
                                            <span class="lore">lore 2</span>
                                            <span class="lore">lore 3</span>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <img class="item" src="/image/item/feather.png" alt="item">
                                            <span class="span-bold item-name">깃털 X 31</span>
                                        </div>
                                        <div class="item-lore">
                                            <span class="lore">lore 1</span>
                                            <span class="lore">lore 2</span>
                                            <span class="lore">lore 3</span>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <img class="item" src="/image/item/feather.png" alt="item">
                                            <span class="span-bold item-name">깃털 X 31</span>
                                        </div>
                                        <div class="item-lore">
                                            <span class="lore">lore 1</span>
                                            <span class="lore">lore 2</span>
                                            <span class="lore">lore 3</span>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <img class="item" src="/image/item/feather.png" alt="item">
                                            <span class="span-bold item-name">깃털 X 31</span>
                                        </div>
                                        <div class="item-lore">
                                            <span class="lore">lore 1</span>
                                            <span class="lore">lore 2</span>
                                            <span class="lore">lore 3</span>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <img class="item" src="/image/item/feather.png" alt="item">
                                            <span class="span-bold item-name">깃털 X 31</span>
                                        </div>
                                        <div class="item-lore">
                                            <span class="lore">lore 1</span>
                                            <span class="lore">lore 2</span>
                                            <span class="lore">lore 3</span>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- -->
                            <div class="info-table">
                                <div class="player_info">
                                    <div class="selection" name="personal">
                                        <img src="https://mc-heads.net/avatar/7ba76465-c0d9-48be-97bd-5dd07bd26fa7/100/nohelm.png" class="player-head" alt="LE_CONTRAIL">
                                        <span class="player-name">AxesCode</span>
                                    </div>
                                </div>
                                <div class="player_info" name="uuid">
                                    <span class="span-bold">UUID :</span>
                                    <span>7ba76465-c0d9-48be-97bd-5dd07bd26fa7</span>
                                </div>
                                <div class="player_info">
                                    <span class="span-bold">거래 금액: </span>
                                    <span>600골드</span>
                                </div>
                                <div class="player_info" style="margin-top: 20px">
                                    <div class="selection" name="personal">거래 아이템</div>
                                </div>
                                <div class="trade_content">
                                    <div class="item-info">
                                        <div class="item-title">
                                            <img class="item" src="/image/item/feather.png" alt="item">
                                            <span class="span-bold item-name">깃털 X 31</span>
                                        </div>
                                        <div class="item-lore">
                                            <span class="lore">lore 1</span>
                                            <span class="lore">lore 2</span>
                                            <span class="lore">lore 3</span>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <img class="item" src="/image/item/feather.png" alt="item">
                                            <span class="span-bold item-name">깃털 X 31</span>
                                        </div>
                                        <div class="item-lore">
                                            <span class="lore">lore 1</span>
                                            <span class="lore">lore 2</span>
                                            <span class="lore">lore 3</span>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <img class="item" src="/image/item/feather.png" alt="item">
                                            <span class="span-bold item-name">깃털 X 31</span>
                                        </div>
                                        <div class="item-lore">
                                            <span class="lore">lore 1</span>
                                            <span class="lore">lore 2</span>
                                            <span class="lore">lore 3</span>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <img class="item" src="/image/item/feather.png" alt="item">
                                            <span class="span-bold item-name">깃털 X 31</span>
                                        </div>
                                        <div class="item-lore">
                                            <span class="lore">lore 1</span>
                                            <span class="lore">lore 2</span>
                                            <span class="lore">lore 3</span>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="item-info">
                                        <div class="item-title">
                                            <img class="item" src="/image/item/feather.png" alt="item">
                                            <span class="span-bold item-name">깃털 X 31</span>
                                        </div>
                                        <div class="item-lore">
                                            <span class="lore">lore 1</span>
                                            <span class="lore">lore 2</span>
                                            <span class="lore">lore 3</span>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <!-- -->
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/sidemenu.js"></script>
<script>
</script>
</html>