<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/admin_common.css">
    <link rel="stylesheet" href="/css/admin/sidemenu.css">
    <link rel="stylesheet" href="/css/admin/admin_board_proposal_modify.css">
    <link rel="stylesheet" href="/css/admin/admin_board_challenge_detail.css">
    <link rel="icon" href="/image/logo/favicon.png">
    <title>애니멀 팜 시즌 2 관리자 페이지 - 거래 기록 상세보기</title>
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="/image/logo/logo.png">
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>거래 기록 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
            <div th:replace="~{admin/side_bar :: sidebar}"></div>

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="prev-button-layout">
                        <div>
                            <a th:href="@{/admin/trade/list}">
                                <img src="/image/admin/prev_icon.png" class="prev-icon">
                                <span class="prev-title">리스트로 돌아가기</span>
                            </a>
                        </div>
                    </div>
                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">
                        <div class="board-info-box">
                            <div class="board-info-title-box" style="position: relative">
                                <div><span class="span-bold">거래 날짜: </span><span th:text="${tradeHistory.tradeDate}"></span></div>
                            </div>
                            <hr>
                            <!-- -->
                            <div class="info-table">
                                <div class="player_info">
                                    <div class="selection" name="personal">
                                        <img th:src="|https://mc-heads.net/avatar/${tradeHistory.requester.uuid}/100/nohelm.png|" class="player-head" alt="LE_CONTRAIL">
                                        <span class="player-name" th:text="${tradeHistory.requester.name}"></span>
                                    </div>
                                </div>
                                <div class="player_info" name="uuid">
                                    <span class="span-bold">UUID :</span>
                                    <span th:text="${tradeHistory.requester.uuid}"></span>
                                </div>
                                <div class="player_info">
                                    <span class="span-bold">거래 금액: </span>
                                    <span th:text="|${tradeHistory.requester.money}골드|"></span>
                                </div>
                                <div class="player_info" style="margin-top: 20px">
                                    <div class="selection" name="personal">거래 아이템 목록</div>
                                </div>
                                <div class="trade_content">
                                    <div class="item-info" th:each="item : ${tradeHistory.requester.items}">
                                        <div class="item-title">
                                            <img class="item" th:src="|/image/item/${item.material}.png|" alt="item">
                                            <span class="span-bold item-name" th:text="|${item.name} X ${item.amount}|"></span>
                                        </div>
                                        <th:block th:if="${item.lore != null}">
                                            <div class="item-lore" th:each="line : ${item.lore}">
                                                <span class="lore" th:text="${line}"></span>
                                            </div>
                                        </th:block>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- -->
                            <div class="info-table">
                                <div class="player_info">
                                    <div class="selection" name="personal">
                                        <img th:src="|https://mc-heads.net/avatar/${tradeHistory.acceptor.uuid}/100/nohelm.png|" class="player-head" th:alt="${tradeHistory.acceptor.name}">
                                        <span class="player-name" th:text="${tradeHistory.acceptor.name}"></span>
                                    </div>
                                </div>
                                <div class="player_info" name="uuid">
                                    <span class="span-bold">UUID :</span>
                                    <span th:text="${tradeHistory.acceptor.uuid}"></span>
                                </div>
                                <div class="player_info">
                                    <span class="span-bold">거래 금액: </span>
                                    <span th:text="|${tradeHistory.acceptor.money}골드|"></span>
                                </div>
                                <div class="player_info" style="margin-top: 20px">
                                    <div class="selection" name="personal">거래 아이템 목록</div>
                                </div>
                                <div class="trade_content">
                                    <div class="item-info" th:each="item : ${tradeHistory.acceptor.items}">
                                        <div class="item-title">
                                            <img class="item" th:src="|/image/item/${item.material}.png|" alt="item">
                                            <span class="span-bold item-name" th:text="|${item.name} X ${item.amount}|"></span>
                                        </div>
                                        <th:block th:if="${item.lore != null}">
                                            <div class="item-lore" th:each="line : ${item.lore}">
                                                <span class="lore" th:text="${line}"></span>
                                            </div>
                                        </th:block>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <!-- -->
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let tradeHistory = [[${tradeHistory}]];
    console.log(tradeHistory);
</script>
<script src="/js/admin/sidemenu.js"></script>
<script src="/js/admin/detail.js"></script>
</html>