<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin/sidemenu.css">
    <link rel="stylesheet" href="/css/admin/admin_board.css">
    <link rel="stylesheet" href="/css/admin/admin_board_proposal.css">
    <link rel="icon" href="/image/logo/favicon.png">
    <title>애니멀 팜 시즌 2 관리자 페이지 - 거래 기록</title>
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="/image/admin/logo_icon.png">
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>거래 기록 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">
            <!-- 사이드 바 -->
            <div th:replace="~{admin/side_bar :: sidebar}"></div>

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="search-box-layout">
                        <div class="search-box">
                            <label>
                                <input class="search-input" type="text" placeholder="검색어를 입력하세요">
                            </label>
                        </div>
                    </div>

                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">

                        <div class="board-info-box">
                            <div class="board-info-title-box">
                                <span>거래 기록</span>
                            </div>
                            <div class="info-table">
                                <table class="history-container">
                                    <!-- -->
                                    <!-- -->
                                </table>
                            </div>
                        </div>
                    </section>
                    <div class="page-button-box-layout">
                        <div class="page-button-box">
                            <!-- 페이지 번호 -->
                            <!-- 페이지 번호 -->
                        </div>
                    </div>
                    <!-- 페이지 버튼 끝 -->
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/checkbox.js"></script>
<script src="/js/admin/board_proposal.js"></script>
<script src="/js/admin/sidemenu.js"></script>
<script src="/js/admin/trade.js"></script>
<script>
    //fetch("/admin/api/trade/list?page=0&size=10").then(value => value.json()).then(console.log);

    let service = new AdministratorService(
        "/admin/api/trade/list",
        `
        <thead>
            <tr>
                <th class="checkbox-line">
                    <input type="checkbox" id="allSelect">
                </th>
                <th class="column">No</th>
                <th class="column">요청 플레이어</th>
                <th class="column">요청 플레이어 UUID</th>
                <th class="column">수락 플레이어</th>
                <th class="column">수락 플레이어 UUID</th>
                <th class="column">거래 날짜</th>
            </tr>
        </thead>
        `,
        (tradeHistory) => `
        <tr>
            <td class="checkbox-line"><input type="checkbox" name="check"></td>
            <td>${tradeHistory.id}</td>
            <td>${tradeHistory.requester.name}</td>
            <td>${tradeHistory.requester.uuid}</td>
            <td>${tradeHistory.acceptor.name}</td>
            <td>${tradeHistory.acceptor.uuid}</td>
            <td>${tradeHistory.tradeDate}</td>
        </tr>
        `
    );
</script>
</html>